name: CI - PR Checks

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      docs: ${{ steps.filter.outputs.docs }}
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            docs:
              - 'README.md'
              - 'docs/**'
  lint-and-test:
    needs: check-changes
    if: ${{ needs.check-changes.outputs.docs == 'false' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Sanity check repo contents
        run: ls -la

      - name: Run make lint
        run: make lint

      - name: Run make build
        run: make build

      - name: Run make test
        run: make test
